<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>CUIB</title>
<meta name="description" content="">
<meta name="author" content="StefanoS">

<!-- Favicons
    ================================================== -->
<link rel="shortcut icon" href="{% static 'img/favicon.ico'%}" type="image/x-icon">
<link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/apple-touch-icon-72x72.png' %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/apple-touch-icon-114x114.png' %}">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css"  href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/nivo-lightbox/nivo-lightbox.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/nivo-lightbox/default.css' %}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">


<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation
    ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand page-scroll" href="#page-top">CUIB</a> </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about" class="page-scroll">About</a></li>
        <li><a href="#services" class="page-scroll">Services</a></li>
        <li><a href="#portfolio" class="page-scroll">Projects</a></li>
        <li><a href="#team" class="page-scroll">Team</a></li>
        <li><a href="#contact" class="page-scroll">Contact</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse --> 
  </div>
</nav>
<!-- Header -->
<header id="header">
  <div class="intro">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="intro-text">
            <h1><strong>CUIB</strong> <span>*</span> Design Interior Studio <span>*</span></h1>
            <p>We are here to help you</p>
            <a href="#about" class="btn btn-custom btn-lg page-scroll">Learn More</a> </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- About Section -->
<div id="about">
  <div class="container">
    <div class="section-title text-center center">
      <h2>Our Story</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6 text-center"> <img src="{% static 'img/about2.jpg' %}" class="img-responsive" alt=""> </div>
      <div class="col-xs-12 col-md-6">
        <div class="about-text">
          <h3>The Studio</h3>
          <p>You bring us on board for your project, because we can do what you cannot – you will need to trust us. 
We create spaces that are functional and look to maximise the potential of the property/site with particular emphasis on space, light and materials.</p>
          <h3>How We Work</h3>
          <p>There are many decisions required throughout both the design stage and build process. You don’t need to feel overwhelmed.
</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Services Section -->
<div id="services">
  <div class="container">
    <div class="col-md-10 col-md-offset-1 section-title text-center">
      <h2>Our Services</h2>
      <hr>
      <p>It can be hard to visualise your design ideas, see the space you have to work with. </p>
       <p>Using 3D drawings and visualisation, the vital details of your plan can be highlighted and corrected before it even becomes a problem and an extra expense to correct. </p>
         <p>3D tools can help you to make sure all details have been considered from the direction of the vital elements of the space such as: doors, windows, heating elements.</p>
          <p>Making sure your space is functionally and aesthetically well designed.</p>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4 service"> <img src="{% static 'img/resdes1.jpg' %}" class="img-responsive" alt="Project Title">
        <h3>Residential Design</h3>
        <p>Our mission is to create or transform residential properties across Ireland, from start to finish, at an affordable cost. 
            We can help home builders and owners get the most out of their homes with new builds, extensions, renovations or energy upgrades. 
            We work in close partnership with our clients to explore ideas and solutions to ensure our designs are tailored to meet their needs, property and budget. 
        </p>
      </div>
      <div class="col-xs-12 col-sm-4 service"> <img src="{% static 'img/offdes1.jpg' %}" class="img-responsive" alt="Project Title">
        <h3>Office Design</h3>
        <p>CUIB provides Interior office solutions for commercial spaces. 
            From the start our goal was to manufacture and supply products to the market from local Irish sources and we have now developed our own range of meeting pods and acoustic solutions.
           We work closely with Architects, Designers and Clients taking a brief from concept to completion covering all aspects of Internal Commercial office Space. 
        </p>
      </div>
      <div class="col-xs-12 col-sm-4 service"> <img src="{% static 'img/commdes1.jpg' %}" class="img-responsive" alt="Project Title">
        <h3>Commercial Design</h3>
        <p>We have considerable experience in the design and project management of large commercial projects across Ireland. 
This has included projects for use in health care, general office, retail (including garden centre), 
residential multi-storey apartment blocks, housing developments, hospitality, leisure, education, entertainment and industrial.

Our most recent project includes the current development of a new bar and restaurant project in Cork and a gym in Limerick.

</p>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Section -->
<div id="portfolio">
  <div class="container">
    <div class="section-title text-center center">
      <h2>Projects</h2>
      <hr>
      <p>Here are some of our latest projects:</p>
    </div>
    <div class="categories">
      <ul class="cat">
        <li>
          <ol class="type">
            <li><a href="#" data-filter="*" class="active">All Projects</a></li>
            <li><a href="#" data-filter=".residential">Residential</a></li>
            <li><a href="#" data-filter=".office">Office</a></li>
            <li><a href="#" data-filter=".commercial">Commercial</a></li>
          </ol>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="row">
      <div class="portfolio-items">
        <div class="col-sm-6 col-md-4 col-lg-4 residential">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{% static 'img/portfolio/res1.jpg' %}" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Flexible Approach</h4>
              </div>
              <img src="{% static 'img/portfolio/res1.jpg' %}" class="img-responsive" alt="Project Title"> </a> 
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 commercial">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{% static 'img/portfolio/comm1.jpg' %}" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Unique Parts</h4>
              </div>
              <img src="{% static 'img/portfolio/comm1.jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 residential">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{% static 'img/portfolio/res1.jpg' %}" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Involvement</h4>
              </div>
              <img src="{% static 'img/portfolio/res1.jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 residential">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{% static 'img/portfolio/res2.jpg' %}" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Be Determined</h4>
              </div>
              <img src="{% static 'img/portfolio/res2.jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 commercial">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{% static 'img/portfolio/comm2.jpg' %}" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>1 Off Design</h4>
              </div>
              <img src="{% static 'img/portfolio/comm2.jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 office">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{% static 'img/portfolio/off2.jpg' %}" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Sketches</h4>
              </div>
              <img src="{% static 'img/portfolio/off2.jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 office">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{% static 'img/portfolio/off3.jpg' %}" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>From Concept</h4>
              </div>
              <img src="{% static 'img/portfolio/off3.jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 residential">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{% static 'img/portfolio/res3.jpg' %}" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Full Control</h4>
              </div>
              <img src="{% static 'img/portfolio/res3.jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 commercial">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{% static 'img/portfolio/comm3.jpg' %}" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Delivery and Installation</h4>
              </div>
              <img src="{% static 'img/portfolio/comm3.jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 office">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{% static 'img/portfolio/off4.jpg' %}" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Essential Elements</h4>
              </div>
              <img src="{% static 'img/portfolio/off4.jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 office">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{% static 'img/portfolio/off2A.jpg' %}" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Architectural Practices</h4>
              </div>
              <img src="{% static 'img/portfolio/off2A.jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 residential">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{% static 'img/portfolio/res4.jpg' %}" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>The Skills</h4>
              </div>
              <img src="{% static 'img/portfolio/res4.jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Team Section -->
<div id="team" class="text-center">
  <div class="overlay">
    <div class="container">
      <div class="col-md-8 col-md-offset-2 section-title">
        <h2>Meet the Team</h2>
        <hr>
<p>John has 13 years' experience in the Interior Design Industry</p>   
<p>Chloe is a design graduate of the Dublin Institute of Technology, has also studied in KLC School of Interior Design in London.</p> 
<p>Having worked for a number of multinational companies in Europe and in Ireland, Jane is now based in Cork. </p> 
<p>Working with local and expert craftsmen, Karen brings her vast experience in crafting elegant and inspirational homes to our doorstep. </p>

      </div>
      <div id="row">
        <div class="col-md-3 col-sm-6 team">
          <div class="thumbnail"> <img src="{% static 'img/team/05.jpg' %}" alt="..." class="team-img">
            <div class="caption">
              <h3>John Rushmore</h3>
              <p>Director</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 team">
          <div class="thumbnail"> <img src="{% static 'img/team/11.jpg' %}" alt="..." class="img-circle team-img">
            <div class="caption">
              <h3>Chloe O'Hara</h3>
              <p>Senior Designer</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 team">
          <div class="thumbnail"> <img src="{% static 'img/team/13.jpg' %}" alt="..." class="img-circle team-img">
            <div class="caption">
              <h3>Jane Tracey</h3>
              <p>Senior Designer</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 team">
          <div class="thumbnail"> <img src="{% static 'img/team/10.jpg' %}" alt="..." class="img-circle team-img">
            <div class="caption">
              <h3>Karen Doherty</h3>
              <p>Project Manager</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contact Section -->
<div id="contact">
  <div class="container">
    <div class="section-title text-center">
      <h2>Contact Us</h2>
      <hr>
      <p>Please let us know if we can help you </p>
    </div>
    <div class="col-md-4">
      <h3>Contact Info</h3>
      <div class="contact-item"> <span>Address</span>
        <p>110 Douglas W, St Patrick's Mills, Cork</p>
      </div>
      <div class="contact-item"> <span>Email</span>
        <p>info@cuib.com</p>
      </div>
      <div class="contact-item"> <span>Phone</span>
        <p> (021) 436 3233</p>
      </div>
    </div>
    <div class="col-md-8">
      <h3>Leave us a message</h3>
      <form name="sentMessage" id="contactForm" novalidate>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" id="name" class="form-control" placeholder="Name" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="email" id="email" class="form-control" placeholder="Email" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <textarea name="message" id="message" class="form-control" rows="4" placeholder="Message" required></textarea>
          <p class="help-block text-danger"></p>
        </div>
        <div id="success"></div>
        <button type="submit" class="btn btn-custom btn-lg">Send Message</button>
      </form>
    </div>
  </div>
</div>
<div id="footer">
  <div class="container text-center">
    <div class="social">
      <ul>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
      </ul>
    </div>
    <div>
      <p>&copy; 2021 CUIB. All rights reserved. Designed by <a href="#" rel="nofollow">StefanoS</a></p>
    </div>
  </div>
</div>
<script type="text/javascript" src="{% static 'js/jquery.1.11.1.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/SmoothScroll.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/nivo-lightbox.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/jquery.isotope.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/jqBootstrapValidation.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/contact_me.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>
